@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700&display=swap");
@import '../themes/_color.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'cairo', sans-serif;
}

body {
    direction: rtl;
    background-color: #fff !important;
    overflow-x: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
}

::-webkit-scrollbar-thumb {
    background-color: $second-color;
    border-radius: 0px;
    height: 4px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: auto !important;
    text-transform: capitalize;
    font-family: 'cairo', sans-serif;
}

* {
    text-transform: capitalize;
}

thead {
    font-weight: 600;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}
button{
    background-color: transparent;
    border: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-switch .form-check-input {
    background-repeat: no-repeat !important;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input[type="checkbox"]:checked {
    background-color: $second-color;
    color: $second-color;
    border-color: $second-color;
}
/////////////////////////////////
.wrraper_page{
    padding: 15px 25px;
    gap: 32px;
}
#pills-files{
    .add_file_btn{
        border: 1px solid $fourth-color;
        padding: 8px 25px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 8px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        height: 48px;
        text-decoration: none;
        background-color: $second-color;
        color: $third-color;
        border-color: $third-color;
        margin-bottom: 25px;
        path{
            color: $third-color !important;
            fill: $third-color !important;
        }
    }
    .add_file{
        display: none;
    }
}