<!DOCTYPE html>
<html lang="ar">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="eduStudent" />
	<meta name="keywords" content="eduStudent" />
	<meta name="author" content="eduStudent" />
	<link rel="stylesheet" href="../../assets/sass/main.css" />
	<link rel="stylesheet" href="../../assets/css/bootstrap.rtl.min.css" />
	<link rel="stylesheet" href="../../assets/css/datatable.css" />
	<title>EDU STUDENT</title>
	<link rel="icon" href="../../assets/images/logo.png" type="image/x-icon" />
</head>
<body class="exam__layout">
<div class="exams">
	<div class="container">
		<div class="exams__section">
			<form action="">
				<div
					class="exam__header d-flex justify-content-between align-items-center flex-row gap-3 flex-wrap"
				>
					<div
						class="exam_info d-flex justify-content-start align-items-start flex-column gap-1"
					>
						<h6>امتحان لغة عربية</h6>
						<p>27/11/2020</p>
					</div>
					<div
						class="time__left d-flex justify-content-start align-items-start flex-row gap-1"
					>
						<div>
                  <span>
                    <svg
						width="30"
						height="30"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
                      <path
						  d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
						  stroke="#fff"
						  stroke-width="1.5"
						  stroke-linecap="round"
						  stroke-linejoin="round"
					  />
                      <path
						  d="M15.7099 15.18L12.6099 13.33C12.0699 13.01 11.6299 12.24 11.6299 11.61V7.51001"
						  stroke="#fff"
						  stroke-width="1.5"
						  stroke-linecap="round"
						  stroke-linejoin="round"
					  />
                    </svg>
                  </span>
						</div>
						<div
							class="d-flex justify-content-start align-items-start flex-column gap-1"
						>
							<h3 id="timer">00:10</h3>
							<p>الوقت المتبقي</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="exams__items">
							<div class="number_ques_chip"><span> 1 </span></div>
							<span class="num__ques"> السؤال الأول </span>
							<h5>ما هي عاصمة مصر ؟</h5>
							<hr />
							<div class="exams__answers">
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_1"
										autocomplete="off"
										checked
									/>
									<label class="btn" for="answer_1">القاهرة</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_2"
										autocomplete="off"
									/>
									<label class="btn" for="answer_2">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_3"
										autocomplete="off"
									/>
									<label class="btn" for="answer_3">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_4"
										autocomplete="off"
									/>
									<label class="btn" for="answer_4">الأسكندرية</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="exams__items">
							<div class="number_ques_chip"><span> 2 </span></div>
							<span class="num__ques"> السؤال الثاني </span>
							<h5>ما هي عاصمة مصر ؟</h5>
							<hr />
							<div class="exams__answers">
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_5"
										autocomplete="off"
										checked
									/>
									<label class="btn" for="answer_5">القاهرة</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_6"
										autocomplete="off"
									/>
									<label class="btn" for="answer_6">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_7"
										autocomplete="off"
									/>
									<label class="btn" for="answer_7">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_8"
										autocomplete="off"
									/>
									<label class="btn" for="answer_8">الأسكندرية</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="exams__items">
							<div class="number_ques_chip"><span> 3 </span></div>
							<span class="num__ques"> السؤال الثالث </span>
							<h5>
								هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة
								ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل
								توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة
								لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
							</h5>
							<hr />
							<div class="exams__answers">
								<h6>ما هي عاصمة مصر ؟</h6>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_9"
										autocomplete="off"
										checked
									/>
									<label class="btn" for="answer_9">القاهرة</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_10"
										autocomplete="off"
									/>
									<label class="btn" for="answer_10">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_11"
										autocomplete="off"
									/>
									<label class="btn" for="answer_11">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_12"
										autocomplete="off"
									/>
									<label class="btn" for="answer_12">الأسكندرية</label>
								</div>
							</div>
							<div class="exams__answers">
								<h6>ما هي عاصمة مصر ؟</h6>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_13"
										autocomplete="off"
										checked
									/>
									<label class="btn" for="answer_13">القاهرة</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_15"
										autocomplete="off"
									/>
									<label class="btn" for="answer_15">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_16"
										autocomplete="off"
									/>
									<label class="btn" for="answer_16">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_17"
										autocomplete="off"
									/>
									<label class="btn" for="answer_17">الأسكندرية</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="exams__items">
							<div class="number_ques_chip"><span> 4 </span></div>
							<span class="num__ques"> السؤال الرابع </span>
							<img
								src="../../assets/images/map.png"
								alt="image"
								height="400"
								width="400"
							/>
							<hr />
							<div class="exams__answers">
								<h6>ما هي عاصمة مصر ؟</h6>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_18"
										autocomplete="off"
										checked
									/>
									<label class="btn" for="answer_18">القاهرة</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_19"
										autocomplete="off"
									/>
									<label class="btn" for="answer_19">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_20"
										autocomplete="off"
									/>
									<label class="btn" for="answer_20">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_21"
										autocomplete="off"
									/>
									<label class="btn" for="answer_21">الأسكندرية</label>
								</div>
							</div>
							<div class="exams__answers">
								<h6>ما هي عاصمة مصر ؟</h6>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_22"
										autocomplete="off"
										checked
									/>
									<label class="btn" for="answer_22">القاهرة</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_2"
										autocomplete="off"
									/>
									<label class="btn" for="answer_2">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_23"
										autocomplete="off"
									/>
									<label class="btn" for="answer_23">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_24"
										autocomplete="off"
									/>
									<label class="btn" for="answer_24">الأسكندرية</label>
								</div>
							</div>
							<div class="exams__answers">
								<h6>ما هي عاصمة مصر ؟</h6>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_1"
										autocomplete="off"
										checked
									/>
									<label class="btn" for="answer_1">القاهرة</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_2"
										autocomplete="off"
									/>
									<label class="btn" for="answer_2">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_3"
										autocomplete="off"
									/>
									<label class="btn" for="answer_3">الأسكندرية</label>
								</div>
								<div>
									<input
										type="radio"
										class="btn-check"
										name="options-outlined"
										id="answer_4"
										autocomplete="off"
									/>
									<label class="btn" for="answer_4">الأسكندرية</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="submit__exam">
					<button type="button" data-bs-toggle="modal" data-bs-target="#finishExam">تأكيد</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- modal when time is out -->
<div
	class="modal fade"
	id="oppsExam"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body d-flex justify-content-center align-items-center flex-column gap-1">
				<img src="../../assets/images/exam.svg" alt="exam" width="250" height="250" class="object-fit-contain">
				<h5> عذرا لقد انتهى الوقت </h5>
				<p> سـيتم احتساب درجات ما تم حـلـه في الأختبار </p>
			</div>
		</div>
	</div>
</div>

<!-- modal when finish exam -->
<div
	class="modal fade"
	id="finishExam"
	tabindex="-1"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body d-flex justify-content-center align-items-center flex-column gap-1">
				<img src="../../assets/images/exam-2.svg" alt="exam" width="250" height="250" class="object-fit-contain">
				<h5> هل أنت متأكد نهاية الأختبار ؟ </h5>
				<p>   سـيتم احتساب درجات ما تم حـلـه في الأختبار اذا ضغطت على تأكيد </p>
				<button class="submit_exam_confirm" onclick="redirectToDuties()"> تأكيد </button>
			</div>
		</div>
	</div>
</div>


<script src="../../assets/js/jquery.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/datatable.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownButton = document.getElementById('dropdownMenuButton1');
        const dropdownMenu = document.querySelector('.notification-menu');

        dropdownButton.addEventListener('click', function(event) {
            event.stopPropagation();
            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
        });

        document.addEventListener('click', function(event) {
            if (!dropdownMenu.contains(event.target) && !dropdownButton.contains(event.target)) {
                dropdownMenu.style.display = 'none';
            }
        });
    });
</script>
<script>
    var initialTime = document.getElementById("timer").textContent;
    var timeArray = initialTime.split(":");
    var time = parseInt(timeArray[0]) * 60 + parseInt(timeArray[1]);
    function updateTimer() {
        var minutes = Math.floor(time / 60);
        var seconds = time % 60;
        var formattedMinutes = String(minutes).padStart(2, "0");
        var formattedSeconds = String(seconds).padStart(2, "0");
        document.getElementById("timer").textContent =
            formattedMinutes + ":" + formattedSeconds;
        time--;
        if (time < 0) {
            clearInterval(timerInterval);
            document.getElementById("timer").textContent = "00:00";
            $('#oppsExam').modal('show');
            setTimeout(redirectToDuties, 5000);
        }
    }
    var timerInterval = setInterval(updateTimer, 1000);
    function redirectToDuties() {
        window.location.href = './result.html';
    }
</script>

<script>
    function redirectToDuties() {
        window.location.href = './result.html';
    }
</script>
<script>
    var examHeader = document.querySelector('.exam__header');
    function handleScroll() {
        if (window.scrollY > 100) {
            examHeader.classList.add('exam__header--fixed');
        } else {
            examHeader.classList.remove('exam__header--fixed');
        }
    }
    window.addEventListener('scroll', handleScroll);
</script>
</body>
</html>
