// Variables
$primary-color: #050505;
$second-color: #DA3837;
$third-color: #F9FAFB;
$fourth-color: #DBDBDB;
$fifth-color: #636363;
$gradient: linear-gradient(to right, $primary-color, $second-color);
